#result {
    height:120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(234, 239, 240);
}

#first-row, #second-row, #third-row, #fourth-row, #fifth-row{
    height:50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.number {
    box-sizing: border-box;
    background-color: rgb(71, 80, 80);
    color: rgb(234, 239, 240);
    padding: 50px;
}

#all-clear {
    box-sizing: border-box;
    background-color: rgb(206, 87, 55);
    color: rgb(234, 239, 240);
    padding: 50px;
}

#plus-minus, #percentage, #decimal {
    background-color: rgb(129, 129, 129);
    color: rgb(234, 239, 240);
    padding: 50px;
}

.operator, #equals {
    background-color: rgb(110, 109, 0);
    color: rgb(234, 239, 240);
    padding: 50px;
}